<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Energy</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'food_item', collection: @food_list %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td><%= @totals[:amount] %></td>
      <td><%= @totals[:energy] %></td>
    </tr>
  </tfoot>
</table>