<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount (g)</th>
      <th>Energy (kcal)</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'food_item', collection: @food_list %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td><%= @totals[:amount] %></td>
      <td class="flex space-between"><%= @totals[:energy] %><%= button_to "clear", nutrition_clear_all_selected_food_items_path(user_id: @user.id) %></td>
    </tr>
  </tfoot>
</table>