<h1>Lifestyle, health and happiness coaching</h1>
<p>
  We begin by mapping a starting point, where we review the current way of life to see clear opportunities for improvement. We continue to see how well the nutritional needs are met.
</p>
<ul>
  <li>Health profile</li>
  <li>Diet profile</li>
  <li>Diet and exercise plan</li>
  <li>Recurring coaching</li>
</ul>
<p>
  We also examine what values and principles you adhere to in order to develop a vision.
</p>
<p>
  When the mapping is done, I coach you to set a concrete vision, so that you get an idea of how happiness will be experienced.
</p>
<p>
  Coaching is to communicate with the healthy and sensible in you to make well-functioning decisions based on a realistic and worthy ideal.
</p>
<p>
  Based on the vision, I coach you to generate ideas for what milestones you need to achieve to succeed.
</p>
<p>
  We now prioritize and seek the improvement that is easiest to implement with the greatest benefit.
</p>