<% provide(:title, 'Coaching request') %>
<% provide(:submit_button_text, 'Send request') %>
<% provide(:form_action_url, root_path) %>

<div>
  <%= render 'coaching_introduction' %>
</div>
<div>
  <%= render 'coaching_survey' %>
</div>