<h1>Reminders</h1>
<p>
  You are a valuable human being and you are worth the best. The insights of life. True, easy to understand and accurate knowledge.
</p>

<p>
  Lasting well-being, superb health and liberty in loving, peaceful, honest and happy relationships.
</p>

<p>
  The true life.
</p>

<p>
  The best you can do for yourself, others, humanity, life, this planet and existence, is to live to be the best that you can be.<br>
  The most humane that you can be.
</p>

<p>
  So that it is a pleasant experience to be near you and so that it is good that you exist.
</p>

<p>
  This possibility is always available.
</p>

<p>
  Your quality of life follows the quality of how you live, the quality of how you are as a human being.
</p>

<p>
  We have freely received the gift of life.
</p>

<p>
  Everyone is born with a longing inside; to be a completely loving, loved and valuable human.
</p>

<p>
  When we give focus to this longing, everything aligns itself for us, because that is what humanity truly is.<br>
  To be truly human means to live in harmony with reality.<br>
  This is the true nature of humanity.
</p>

<p>
  Being aware of our activities, thoughts, feelings and experiences is very important.<br>
  We live with presence and understanding, to know how life truly is.
</p>

<p>
  In every moment we have the opportunity to do something that generates favorable consequences for ourselves, everyone around us, humanity and all life on the planet.
</p>

<p>
  This includes accepting the fact that we as humans have basic needs that need to be fulfilled. These need to be our united focus, because we all have them.<br>
  Several needs are fundamental to all life on our planet. Water quality, the quality of the soil layer and the air quality are some examples.
</p>

<p>
  We need to take care of the life we all have, and together are, here on our planet.
</p>

<p>
  We need to honor and align with the process that is fundamental for life.
</p>

<p>
  The truth is anchored in the objective, eternal reality. Truth is beyond our ability to invent it. Reality will always outlast illusions.<br>
  We can experience the truth, we can realize the truth, and we can remind ourselves of the truth. Humans have a natural need to realize and unite with the true existence.
</p>

<p>
  The water we drink, the food we eat and the air we breathe flow through the body and make it what it is in the present.  Likewise, experiences form our mind while impressions flow through the mind and shape our perception of reality.
</p>

<p>
  The food you eat is extremely important to the quality of your future experiences, it will transform into your body. The fitness and quality of our bodies determine the quality of our experience in life.<br>
  We therefore eat life-giving food; humanly intended, nutritious, sun-ripened, healthy and fresh food, which gives power, stamina, energy, life, strength, happiness and radiant vitality.<br>
  So that you get a powerful, strong, flexible, beautiful, vibrant, healthy and prosperous body.<br>
  Live with a healthy body to enjoy a glorious, memorable and valuable experience of life.
</p>

<p>
  A loving, humane attitude focused on lasting health, wisdom, truth and justice is necessary.
</p>

<p>
  We can see that it is natural for us to live with gratitude, because we have been given life as a free gift and get to live  included in this wonderful universe.
</p>

<p>
  One of the best ways to show gratitude for the miracle of life is to do the best possible, united with life, and thus improve the opportunities for each and everyone, together.
</p>

<p>
  It is significant to understand that this is the common reality and that our existence here is sufficient as reason for how much we have to be thankful for.
</p>

<p>
  When we see that we have been given the opportunity to join and that we are welcomed into life, gratitude gradually arises in us and the opportunity to live is continuously fulfilled.
</p>

<p>
  In accepting to be what we truly are, we also participate in making existence better for all life.
</p>

<p>
  Healing and rejuvenation is a continuously ongoing process.<br>
  The body is renewed in every moment through several million cells being replaced in every second.<br>
  The opportunity exists to see reality with new eyes and to hear it with new ears.<br>
  To feel, smell, taste, touch, experience and explore reality with presence, vitality and life.
<p>

</p>
  We need to nurture the body and understand how best to take care of it.<br>
  We heal and nurture the body by eating the best possible natural foods.<br>
  Your body is worth the best.
</p>

<p>
  Intelligence is needed to perceive truth, which is to truly see things as they are and to understand everything as it is.
</p>

<p>
  Humans have the inherent ability to reach the stillness of presence and perceive all the patterns in nature.
</p>

<p>
  We are involved in a reality that contains interwoven processes, natural events that are constantly unfolding all around us.
</p>

<p>
  There are processes that we can perceive, handle and recognize, throughout the entire Universe.
</p>

<p>
  By meditating and observing reality, these patterns emerge for us.<br>
  We intuitively perceive the natural dynamics.
</p>

<p>
  The better we adapt our activity according to the nature which we exist in relation to, the easier our prosperity is maintained.<br>
  Nature is continuously adjusting everything to the wealthy existence we call life.
</p>

<p>
  As humans, we are adapted to care for this biosphere and we are comfortable with natural processes.<br>
  We enjoy happiness when life is constantly thriving and we feel that we are included in this supremely meaningful existence.
</p>

<p>
  As humans, we are engaged in promoting life to its most beautiful expression.<br>
  By sitting quietly and observing nature, we gradually understand, and see, how we need to interact with nature.
</p>

<p>
  It is meant to be a pure pleasure to be humans and rejoice in the natural process in which we live.
</p>

<p>
  From our vantagepoint, life is permanent.<br>
  Righteousness is about direct our energy, in cooperation with nature, to prosperity.
</p>

<p>
  Let's align in accordance with life.
</p>

<p>
  Every investment we make in life here resonates into eternity.<br>
  Intelligent, human activity is in harmony with natural processes.
</p>

<p>
  All the resources we need to maintain prosperous living conditions are available on earth and through our inherent human abilities.
</p>

<p>
  Everything we need is available around us all the time.
</p>

<p>
  We sustain prosperity through natural elements and events such as water, soil, precipitation, wind, sunshine and life.
</p>

<p>
  Every natural resource exists in the cycle of life, freely available in the environment where we are.
</p>

<p>
  By promoting the processes that are valuable to people's lives, we evolve in harmony with our surroundings, as a managed ecosystem that is easy to sustain.
</p>

<p>
  Prosperity, love and health come through good living conditions that come with choosing to base our will in having our common needs fulfilled.
</p>

<p>
  A life-promoting existence means to live in harmony with nature.<br>
  Living in harmony with nature means choosing the healthy way of life, which is the truly human one.
</p>

<p>
  The truly human lifestyle of togetherness, kindness, peace and cooperation is the healthy way of life available to us humans.  It is also what is the best for all living beings.
</p>

<p>
  Humanity is meant to be favorable in life here.
</p>

<p>
  When we live humanely, our existence is signified by abundance, which is when the earth produces a lively flow of resources.
</p>

<p>
  Valuable, living beings make up the biosphere of our planet. This all forms an ecosystem which is ready to fulfill all human needs.
</p>

<p>
  Here on Earth, the top soil layer as an organic life form produces plants and when life in the soil thrives, life flourishes abundantly.
</p>

<p>
  We choose to harmonize with life and to promote life's inherent tendency to improve the soil.
</p>

<p>
  This improvement includes balanced diversity and a focus on maximum enjoyment of life.
</p>

<p>
  We succeed with nature when our efforts ease.
</p>

<p>
  In our continued commitment, we see an abundance of quality and variety in what the land produces and continuously reach closer to a worthy ideal.<br>
  At the same time, we thrive in the life process, with all the blessings that are available to humanity.
</p>

<p>
  Our entire existence is a living, intelligent and life-giving being.<br>
  Our entire existence here on Earth is united in life.
</p>

<p>
  This intelligence is available to us, so that we may live in cooperation and harmonious interaction with everything.
</p>

<p>
  We humans are aware of reality and can live consciously.<br>
  In order to perceive reality as well as possible, it is important to have an inner balance and a truthful, eternal focus.<br>
  We need to maintain insight into the real purpose.
</p>

<p>
  We can all live to be what we are born to be:<br>
  Loving, curious, generous, intelligent and capable humans.<br>
  To benefit each other and to the benefit of all life.<br>
  To the benefit of the conditions here on this planet we all have as home.
</p>

<p>
  Our existence is common and our feelings are common.
</p>

<p>
  We coexist in life on this planet.
</p>

<p>
  Every human being is born with the expectation that reality is loving.
</p>

<p>
  We are all born with the understanding that we have the opportunity to live for common happiness and in harmony with all of life.
</p>

<p>
  We have this existence, we have this planet, this life, this humanity, these bodies and this common purpose.
</p>

<p>
  A planet with clean water and a healthy atmosphere where life thrives in a flourishing biosphere with fresh and sun-ripe food growing freely available for all. Naturally lush, verdant landscapes, a pleasant climate and favorable living conditions for all living beings.
</p>

<p>
  Together.<br>
  Now!
</p>

<p>
  We are born with our human nature; the will to nurture life, each other and our common existence here on earth.<br>
  We all see that this follows with us involving ourselves in the planet's ecosystem.
</p>

<p>
  Truly living means life, love, health and happiness for all.
</p>

<p>
  We are welcomed to participate in life and the natural choice for us is to accept this with gratitude. To accept our grand purpose here. Happiness, health, love, life, presence and free access, for everyone and forever.
</p>

<p>
  This is called justice, that which is best for all and which sustains human unity, truth, love and life.<br>
  That we live according to the terms of this living reality.
</p>

<p>
  Therefore, we allow this human nature to actualize.<br>
  Realizing our righteous nature gradually brings well-being to the body, peace to the mind, healthy emotions, clarity in our thoughts, conscious presence and happiness in all relationships.
</p>

<p>
  We need a life-sustaining planet.<br>
  We need a clean atmosphere and a sustainable climate where our soils and oceans are flourishing with life.
</p>

<p>
  This is the normal way to truly live as a humanity.
</p>

<p>
  We experience reality as a combination of bodily sense impressions. Whatever you look at, you're actually seeing an interpretation in the mind.
</p>

<p>
  When we have clarity and health within us, as complete and healthy humans, with a focus on the human potential and with the orientation in life that is in line with our common purpose as a humanity, then life gets experienced to the fullest.
</p>

<p>
  We have the ability to adjust our perception of reality, so that it is as consistent with the truth as it is possible for us.
</p>

<p>
  As this becomes a refined aspect in our way to live, our innate ability to relate to reality such as it is actually evolving, with access to our natural wisdom, this is called liberation. True liberation is to correctly integrate into the ever present flow of the universe.
</p>

<p>
  We have a perfect clear-mindedness within, which is called intuition, with which we see how blissfully loving, just and alive reality actually is.
</p>

<p>
  The material of this planet makes up every human body and every life form.
</p>

<p>
  We have the opportunity to be a life-promoting humanity.
</p>

<p>
  With a life-promoting humanity, we promote the conditions of life and reach the harmoniously flourishing and glorious joy of life which this planet is meant for; the potential that we collectively have here.
</p>

<p>
  What we do is to correct our mind and activities, so that the consequences unify with this natural purpose.
</p>

<p>
  Consider these three questions:<br>
  What is really going on?<br>
  What am I doing?<br>
  Is my lifestyle beneficial to life on this planet and to humanity?
</p>

<p>
  Please, ponder this question again.<br>
  Is my lifestyle beneficial to life on this planet and to humanity?
</p>

<p>
  This question extends us beyond the world, to be included in life.<br>
  Our wakefulness takes us into reality, into love, into truth, justice and the joy of life.
</p>

<p>
  Life, reality and eternity are constantly present beyond the illusion of the world.
</p>

<p>
  Life is greater than humanity and we need to stay awake to reality and life's possibilities.
</p>

<p>
  So, how does life happen on this planet?<br>
  Look at how energy is transformed according to the conditions here.<br>
  We need to promote these and live in accordance with them.
</p>

<p>
  We have energy that comes from the sun as light.
</p>

<p>
  Plants convert sunlight, carbon, oxygen and water into sugars through photosynthesis, thus solar energy is transformed into life force.
</p>

<p>
  The sun's energy is transformed into plant life which is transformed into animal life.
</p>

<p>
  Sunlight, water, carbon and oxygen are the basics of almost all life on the planet.
</p>

<p>
  When we look at the dynamics of life here on Earth, the overall quality of life improves as plant life improves.
</p>

<p>
  The quality of all life depend on the quality of the soil layer and living conditions in the seas.<br>
  This in turn depend on the quality of the atmosphere, litosphere and hydrosphere.
</p>

<p>
  This planet's surface can be seen as five spheres:<br>
  The lithosphere, the hydrosphere, the atmosphere, the biosphere and the technosphere.<br>
  The technosphere needs to be integrated with the biosphere in a favorable way.
</p>

<p>
  We have the opportunity to succeed here and now.
</p>

<p>
  Love, health, happiness and quality of life is a natural, common longing that all life has.
</p>

<p>
  We need to take a firm hold on and unite in life together.
</p>

<p>
  Complete happiness is when every available opportunity has beneficial consequences for all, so that all activity brings wellness and fulfillment.
</p>

<p>
  Complete happiness is when every available opportunity bring beneficial results for all, so that all activity benefits happiness and fulfillment.
</p>

<p>
  We have the free choice to make everything within us and around us truly well.<br>
  Within us we can attain peace, harmony, joy of life, well-being, balance, happiness, wholeness and health.<br>
  Health includes how well we are united with reality.<br>
  Clean air is crucial for health and healthy plant life in turn is crucial for clean air.<br>
  Healthy soils are crucial for plant life, which in turn depends on clean water and clean air.<br>
  All the processes which are fundamental for life here are interconnected and interdependent.<br>
</p>

<p>
  We need to keep ourselves in human presence and alertness.<br>
  We live to do it within and around us to truly live life with meaning.
</p>

<p>
  When you perceive your body, it happens as a sensory experience in the mind.
</p>

<p>
  We perceive the hand through sensory perception in our consciousness.<br>
  We can also perceive our surroundings sensorially and this kind of awareness is present throughout all of reality.
</p>

<p>
  Through the body we experience and explore our surroundings.<br>
  We all experience the same reality, which we are all also part of and which we all belong to.
</p>

<p>
  We wish the best possible for each other.<br>
  I want you to live well, because we feel best when we feel well together.<br>
  We all exist on this Earth together, we feel together and think together.
</p>

<p>
  Well-being is a sustainable basic state for all living things.
</p>

<p>
  Our level of happiness is how we feel when we are at peace with ourselves.
</p>

<p>
  We have each been given a body and a mind with intelligence, memory, feelings and everything else included with the gift of life, completely free.
</p>

<p>
  Let's take a firm grip on life together, to fundamentally improve the conditions for all life in existence.
</p>

<p>
  You can start like this, right now.<br>
  Take this opportunity to see yourself.<br>
  Whichever possible areas of improvement you notice, set a goal to make that improvement.<br>
  These questions direct us to the fundaments for our quality of life.<br>
  How is my heart beating?<br>
  How am I breathing?<br>
  How is my posture?<br>
  How am I sleeping?<br>
  How am I sitting?<br>
  How am I walking?<br>
  How am I eating?<br>
  What am I eating?<br>
  How am I speaking?<br>
  What am I saying?<br>
  How am I thinking?<br>
  How do I perceive myself?<br>
  How do I perceive others?<br>
  How do I perceive reality and what is my relationship to reality?<br>
  How do I feel in my body?<br>
  How awake and present am I living?<br>
  What are the needs of this human body and how can I fulfill them?<br>
  How can I promote that?<br>
  Do my activities generate experiences that bring peace, love, well-being, happiness, joy, pleasure and life?
</p>

<p>
  We also have our free choice, which is a huge opportunity for us.<br>
  A primary choice we need to make is to attain an internal harmont in the body's systems.<br>
  This forms the basis of our experience in life.<br>
  It is our basic mood.<br>
  It is important for us to choose to have a fulfill the most fundamental needs.
</p>

<p>
  Imagine a garden. The best fruits and flowers come when the focus is directed on the soil and the roots. To improve the quality of what grows in the soil, the quality of that soil needs to improve first. The human body and mind is just like that. We reap what we sow. The quality of the body and the mind determines the quality of consciousness, which determines our availability to life.<br>
  The better our fundamental conditions are, the better basis we have to participate in the miracles of life.
</p>

<p>
  The human mind is a unique gift.
</p>

<p>
  Everything in the natural creation contains so wonderfully much. When we focus enough attention on something natural, we see wisdom, intelligence, love and all the beautiful details of creation.
</p>

<p>
  We can be in our humanity and truly feel life for what it is.
</p>

<p>
  The only way we have to understand life as humans is to be and become human. It is the highest possibility we have available to reach.
</p>

<p>
  This is the purpose of our existence here:<br>
  To be humans, which we are born to be.<br>
  To be in human unity, humanity.<br>
  To integrate ourselves into life through our humane and intelligent love.<br>
  So that we are in harmonious union with each other, with life, with the planet, with creation and with the conscious reality.
</p>

<p>
  We chose to unite with the conscious flow of the living reality.
</p>

<p>
  This Universe has evolved for billions of years and here we are, self-aware, loving and intelligent human beings.
</p>

<p>
  Being human means that we have the ability to carry out actions consciously. With our intelligence, we can navigate through each situation uniquely.
</p>

<p>
  When we have the ability to maintain our attention, presence and alertness, we also incorporate the ability to contribute our intelligence.
</p>

<p>
  Creativity is initiated from the stillness which contains all possibilities.
</p>

<p>
  When we live with presence, according to our human potential, we succeed smoothly as progress happens with ease.
</p>

<p>
  Success, the progressive realization of a purposeful and worthy ideal, is a result that comes with the balanced maturation of our abilities.
</p>

<p>
  A human unity in harmony with all of existence. The entire humanity.
</p>

<p>
  The planet of life, where we humans are engaged in a sustainable relationship with the planet to which we are adapted.<br>
  Humanity lives in harmony with nature and the entire planet's environment is fit for life.<br>
  The air is clean and healthy and the soil is rich and fertile.<br>
  Humanity nurtures the earth, each other and cherishes everything with love and dignity.<br>
  The living reality is a good environment for all life.
</p>

<p>
  Food growing liberally and freely in nature.<br>
  Beautiful landscapes spread out and life flourishes everywhere.<br>
  Weather conditions, the climate and all life are in a dynamic, harmonious balance.
</p>

<p>
  A reality where everyone is radiating vitality, with free access to fresh and ripe food.<br>
  The surroundings are so safe that everyone has the opportunity to peacefully rest under the open sky.<br>
  Everyone are in peace, with healthy bodies and happy relationships.
</p>

<p>
  All humans live united to the best for all life.
</p>

<p>
  This is an ideal that was described thousands of years ago as a promise from the creator of reality.
</p>

<p>
  The way to guarantee success is always to improve that which is the foundation of success.
</p>

<p>
  Our health and perception of reality.<br>
  Our knowledge and the ability to apply that knowledge.<br>
  Our relationship with each other and reality and the cooperation that this entails.
</p>

<p>
  When we act truthfully, the truth reaches through to us.<br>
  When we act humanely, we reach our humanity.
</p>

<p>
  The beauty of this Universe is how ordered it is.
</p>

<p>
  When we do correct things, beneficial conditions come as a result.<br>
  The correct things are related to our needs. Nutrition, exercise, water, sunshine, togetherness, air, rest and trust in reality.
</p>

<p>
  Think about the dynamics of cause and effect which are inherent to this Universe.<br>
  It has a certain measure of predictability.<br>
  We can make choices according to our will, we can make choices according to the will of others and we can make choices according to a higher purpose.<br>
  The best effects come when we seek to make choices according to the higher purpose.
</p>

<p>
  We all know these moments when everything seems to enter a smooth flow, where everything just falls in place.
</p>

<p>
  We feel safe when we can trust in the ultimate reality.
</p>

<p>
  We must recognize the truth of the human nature within us.
</p>

<p>
  Humans are naturally cooperative<br>
  Humans generous, gracious, sociable, realistic, truthful and helpful.<br>
  Humans are naturally loving, caring and kind.
</p>

<p>
  We humans are fundamentally humane.
</p>

<p>
  Every little improvement counts. Every smile and every helpful deed.
</p>

<p>
  The truth is what really works, on every level in life.<br>
  All which is fundamental, eternal and universal.<br>
  All which has true value and significance.
</p>

<p>
  In five years, in 10 years, in 20 years, in 50 years, what will matter then?
</p>

<p>
  Health, love, clarity, knowledge, the ability to apply the knowledge, good relationships, a worthy lifestyle, clear conscience, all that is fundamental, eternal and universal.<br>
  Nature, fresh air, clean water and a life-sustaining environment, so that life is worth participating in.
</p>

<p>
  In order for us to be available to the blessings of life, the necessary, healthy balance is needed within us.
</p>

<p>
  This healthful harmony is the result of the daily choices we make regarding how we live. Again, what determines this quality is nutrition, exercise, water, sunshine, togetherness, air, rest and trust in reality.
</p>

<p>
  Having balance on all levels enables us to live life with an entire spectrum of favorable opportunities.
</p>

<p>
  Attention is needed to understand the whole of what it really means to be human.
</p>

<p>
  We experience this reality from within the body. Therefore, we promote a health in the body, so that our experience is as close to real as possible.
</p>

<p>
  When we are filled with well-being, we are primed to promote life as we are feeling it.
</p>

<p>
  Wisdom brings the greatest possible happiness for all living around us, as well as balance and harmony in existence.  Wisdom is using knowledge correctly, in alignment with a worthy ideal and a loving purpose.
</p>

<p>
  Wisdom is the human ability to harmoniously relate oneself and one's way of life to the process of nature, so that it uplifts us. The quality of harmoniously relating to each other, so that we achieve each other's happy and voluntary cooperation, which helps us realize a harmonious existence. Wisdom includes insight into, respect for and anchoring in what is eternal, fundamental and universal.
</p>

<p>
  With wisdom, you know what needs to be done, why, how and when it is needed, as well as what happens when it is done. These are often small deeds with substantially beneficial consequences, like planting a seed that grows into a great tree which provides food for hundreds of years.
</p>

<p>
  Wisdom includes intelligence, knowledge and reason. Along with these qualities, follows the ability to be able to make humane decisions in the overall context. Wisdom can be seen as intelligence combined with experience and it matures over time, through a commitment to align with the truth and the willingness to listen and observe reality.
</p>

<p>
  Wisdom comes through when the right and left hemispheres are working together harmoniously.<br>
  Our natural way of being is as a whole. The expansive power we all love to experience comes forth when our bodies and minds are united for the good. The humane brilliance that promotes the enlightened love, happiness and peace which we are born to promote and to live in.
</p>

<p>
  We chose to unite with all of this existence and this human possibility.<br>
  We chose to live life with dignity and to succeed in achieving all that is memorable and glorious.
</p>

<p>
  We can choose to experience life with quality.
</p>

<p>
  This is an opportunity for us. When we correct ourselves to this possibility and direct ourselves to the good of all, we immediately accept life's invitation and are returned to the naturally grounding human balance.
</p>

<p>
  As this happens, the abundance and wonder of life is before us, with miracles that follows miracles and all we have to do is be human. That is what we really want to be. Every cell in your body and the process that constantly renews your body is already devoted to form a human being since the union of the first cell that initiated your life here on Earth.
</p>

<p>
  We have to allow it to happen. Being human includes all possibilities. Whatever you try to become, you become as a human being.<br>
  Your body is naturally becoming a human body.
</p>

<p>
  We aim our activities to the most easy life; a dynamically harmonious existence.<br>
  We normalize our longing to live together awake and with presence, so that the experience of life is beautiful and so that the present is pleasant.
</p>

<p>
  We want to feel the highest state of sustainable happiness and lasting well-being.
</p>

<p>
  I ask you to participate.
</p>

<p>
  Nature has certain cycles.
</p>

<p>
  The rotation of the globe around it's own axis, the orbit of the moon around the earth and the earth's orbit around the sun are examples of cycles that affect the environment and all forms of life.
</p>

<p>
  When we follow our circadian rhythm and our natural cycles, so that these are in harmony with the rest of the processes of creation, we naturally harmonize in all aspects of life.
</p>

<p>
  As we gather the discipline to align with the natural flow and rhythm, we live in unison with the entire cosmos. We need to follow the natural, healthy, sustainable way of life of which we are meant to.
</p>

<p>
  This is about understanding and fulfilling our human potential.
</p>

<p>
  Whatever we are capable of, is how we will function and our abilities can be refined.
</p>

<p>
  Abilities that promote love, presence, awareness,  well-being, joy and quality of life are relevant to develop.
</p>

<p>
  These are also the easiest to express, as they develop naturally. It is as easy as allowing and gratefully accepting.
</p>

<p>
  The human body goes through natural stages of development that we can choose to promote.
</p>

<p>
  We promote and are reintroduced to the natural human development by choosing the direction that is in accordance with how the universe is meant to progress.
</p>

<p>
  The natural, human process of love, health, truth, happiness, joy, life, peace, harmony, balance, enjoyment of life and presence is matured in that process.
</p>

<p>
  When that direction is set and we keep that direction, we are in the experience where these conditions are our foundation.
</p>

<p>
  We seek to find value in each other as humans, because what we are.<br>
  It is important to think about how we invest our given potential.
</p>

<p>
  We shape our body and our mind to live with presence. So that in every situation that comes, we choose love, health and common well-being.
</p>

<p>
  Because the quality of how well the body and mind work, is what shapes our existence.
</p>

<p>
  We focus on doing what is relevant in every situation in which we exist and do everything necessary for common prosperity, happiness, love, health and to do it properly.
</p>

<p>
  We choose to live into, perceive, feel and realize the natural ideals of humanity as our way of existing.
</p>

<p>
  By welcoming the deepest dimensions of life, we allow our will, our energy, our feelings, our minds and our bodies to be inspired with such things as love, truth, life, wisdom and liberation.
</p>

<p>
  As our fundament for life improves, our basic state improves and everything with it.
</p>

<p>
  Proper amount and quality of nutrition means optimal function in all the body's systems.<br>
  Healthful exercise promotes vigor, happiness, well-being, intelligence, strength, flexibility, stamina and optimal functioning for all bodily functions.<br>
  Clean water is a necessity for all the processes in our metabolism.<br>
  Sunshine is needed for correct energy production in our mitochondria, vitamin D which is crucial for at least 4% of our genes and a balanced circadian rhythm which controls over 20% of our genes. We absolutely need to get natural sunlight every morning and repeatedly throughout the day.<br>
  Togetherness is the fundament for most of what we are as human beings and it is needed on all levels.<br>
  Fresh and clean air is vital as it contains the oxygen which is the pivotal component in trillions of events that occur every moment within us.<br>
  Rest and rejuvenation, healing and recovery, proper sleep and cozy moments is when everything in us is improved.<br>
  We need to trust in reality and understand how nature is here to serve us all.
</p>

<p>
  We exist to permanently benefit continuous welfare, so that our intelligence flourishes into a whole.<br>
  To live as we are meant to live is to live life naturally, with the greatest possible well-being.
</p>

<p>
  We call this human consciousness.
</p>

<p>
  As we live according to creation, we think truthful thoughts and live life truthfully.<br>
  To live truthfully brings a clear conscience, which is fundamental for liberty.
</p>

<p>
  It is this happy and prosperous lifestyle that we are meant for.
</p>

<p>
  We therefore choose to live in the truth of who we are, as human beings, so everything we do benefits everyone and everything around us.
</p>

<p>
  This possibility is inherent in the genetic potential of every human being.
</p>

<p>
  How can I maintain a human, awakened, conscious presence, in every moment, every day?<br>
  As a human being, a cooperative custodian, which that I am meant to be for life and this planet?<br>
  This is about embracing truth, the very source of beauty.
</p>

<p>
  Humanity needs to be characterized as loving.
</p>

<p>
  Let us choose life according to life's terms.<br>
  Life is already included in the planet according to the terms of the planet.<br>
  The planet is in the rest of the Universe according to the terms of this Universe.
</p>

<p>
  Our vast Universe holds many wonders which are all interconnected. The entire reality is ordered with intelligent love while the natural laws continuously shape this Universe and make everything happen in an organized and progressive flow.
</p>

<p>
  These natural conditions include physical laws and subtle dynamics.
</p>

<p>
  We know the physical laws through what we can observe and prove with experiments.
</p>

<p>
  The subtle dynamics relate to the conscious, things that we can experience, feel, experience and realize.
</p>

<p>
  All natural laws interact in harmony and through the subtle aspects of our being, we interact beneficially with reality.
</p>

<p>
  We are part of this Universe and in cooperation with everything.
</p>

<p>
  Just as we, with miraculous exceptions, are subject to physical laws, so is it beneficial to understand and live in harmony with the subtle dynamics of nature.
</p>

<p>
  It is absolutely beneficial to know and align with the laws of nature, which is to live truthfully.
</p>

<p>
  We accept responsibility, which is our ability to respond to the events that occur around us.
</p>

<p>
  By living truthfully, we are rewarded with liberty.
</p>

<p>
  We want everything wonderful.
</p>

<p>
  The body, the mind, the feelings, the emotions, our basic mood, the surroundings, nature, life and the best for everyone.
</p>

<p>
  We want everything to progress beautifully.
</p>

<p>
  We therefore need to at least live with an ideal vision for the planet and life, so that life happens the way we need it to.
</p>

<p>
  When our ambition for this planet is what we collectively want, which is justice, we direct our thoughts and feelings to it.
</p>

<p>
  This comes with the willingness to seek the understanding of and to incorporate the truth of human nature.
</p>

<p>
  This is what we have been brought to, and need to be.
</p>

<p>
  A house filled with love is a home.<br>
  This planet is meant to be our home.
</p>

<p>
  Family love means that there is respect and joy for each other's lives and it is the safe peace that everyone promotes freely.
</p>

<p>
  Being a humanity means we are something very wonderful.<br>
  It means that we are loved throughout life.
</p>

<p>
  The strength of humanity comes through loyalty together and that this family is in synergy with life as a whole.<br>
  Humane love brings out the best in people, because it remains a measure of our stability.<br>
  Humane love measures our sense of loyalty.
</p>

<p>
  Family life is the ultimate career.<br>
  All other employment exists only for the purpose of supporting the families' homes, because that is where our children grow.
</p>

<p>
  In the family home, all of humanity's greatest virtues are strengthened and maintained.
</p>

<p>
  A home is where love, truth, wisdom, justice, health, peace and all the greatest virtues of reality are present. Where our loving creator abides, if you will.
</p>

<p>
  This planet is meant to be our home.<br>
  A house filled with love is a home.
</p>

<p>
  In a family, everyone is included, remembered and favored.
</p>

<p>
  Being a humanity means we are something very wonderful.<br>
  It means that we are a grand family, and loved throughout life.
</p>

<p>
  Well-being is our basic mood.<br>
  When, according to our nature, we are well, our experience is well-being in all the situations that come.
</p>

<p>
  Because then we see life as it is and like children, who still have the human nature, we abide in happiness simply by being who we are.
</p>

<p>
  This is the vital beauty that comes with the truth that, we at every moment love to be brought closer to a worthy ideal.
</p>

<p>
  When we choose to willingly accept the time and experience that results in us normalizing to the human way of life.
</p>

<p>
  Free choice means that we have a freedom to be however we want to be in every moment.
</p>

<p>
  Everything has been given to us freely and this whole majestic creation flows continuously. Let's appreciate how wonderful this awesome reality is and how lovingly it is made!
</p>

<p>
  Every dawn and every dusk there is an admirable sunrise and sunset available to admire, completely free.
</p>

<p>
  We have fruits, nuts and berries to eat, flowers that smell lovely, beautiful landscapes and forests to walk in.
</p>

<p>
  In every moment we can enjoy the quiet pleasure of breathing, observing and enjoying life completely freely.
</p>

<p>
  Life is available to be enjoyed and the significant aspect of life, the free choice to choose love and to mature in trust, is available in every moment.
</p>

<p>
  We wish to be awakened to be present in our liveliness, to attend in life and experience the joy of life.
</p>

<p>
  To truly value the gift of life is to live happily, lovingly and healthily, and to interact with life in reverence and gratitude for life.
</p>

<p>
  We live in our natural, balanced experience, when all these systems in the body work together harmoniously.
</p>

<p>
  When we talk about energies, we are specifically talking about processes and cycles within our bodies, as well as the natural factors that these depend on. Processes such as respiration, blood circulation, metabolism, hormones, pheromones, genetic expression, neurochemical activities in the central nervous system and all the natural dynamics which we are involved with.
</p>

<p>
  When we have practiced our ability to balance our energies, that is, the internal processes within the body and the interaction between the different systems that make up the body, we set direction in life.
</p>

<p>
  As we mature in the ability to adjust our perception of reality, to see reality as it is, we benefit the quality of our daily experience.
</p>

<p>
  We have the ever present opportunity to recover into our naturally beneficial tendencies. An invitation into reality's love if you will.
</p>

<p>
  Living with presence means feeling whatever reality feels like in the situations we are in.<br>
  This also means that we notice when it feels less than wanted, in order to find the correct direction in it.
</p>

<p>
  Start by feeling, accepting and doing what is necessary.
</p>

<p>
  Take the opportunity to just sit, to feel whatever feels like when we let the muscles of the shoulders soften and let the body normalize.
</p>

<p>
  However it feels.
</p>

<p>
  This means we are allowing something absolutely wonderful to happen for ourselves.<br>
  Allow the normalization process within the body, the mind, the nervous system and everything that happens within us to be in sync.<br>
  We have an innate ability to liberate ourselves into presence by trusting reality, which brings clarity to us.<br>
  Every such moment is an investment in well-being.
</p>

<p>
  Feel what you are feeling, see with clarity and allow yourself to experience your current emotional spectrum.<br>
  Actively choose to see the precious and completely free in the gift of life.<br>
  Extend appreciation for it and spread gratitude.<br>
  Be actively humane with the intention of supporting and uplifting in some way, completely freely.<br>
  So that we bring each other to health, togetherness, happiness and peace.<br>
  Maintain our purpose and see how daily activity aligns with higher goals, so we can help each other and contribute to humanity and to life.
</p>

<p>
  Nurture a friendly relationship with your body.
</p>

<p>
  Choose healthful foods, rest and get renewed, find ways to energize your mind, body and relationship with reality.
</p>

<p>
  See our possibilities and the continuously renewed chance in life.
</p>

<p>
  The understanding and knowledge about reality, life and nature, the fundamental, eternal and universal, is of absolute importance.
</p>

<p>
  Every genuine human being seeks the intuitive understanding of human nature and life, to which we belong as a human unity.
</p>

<p>
  To increase the quality of the body's function with a way of life that involves love, health, clear thinking and healthy emotions.
</p>

<p>
  Joy of life and quality of life are absolutely crucial.
</p>

<p>
  Everything you interact with is improved, simply by being conscious and getting to understand reality, life, our human nature and your own body.
</p>

<p>
  So that everything is improved around you and so that everything you do has value.
</p>

<p>
  The nature of our mind is such that our ability to observe is interrelated with experience.
</p>

<p>
  Our mind is adjusted to life, through presence, inclusiveness, harmony and integration.
</p>

<p>
  In order for us to have health, peace, liberty, love and justice, we need to promote life together on this planet that we have been given as home.
</p>

<p>
  In order for us to enjoy health, love, peace, liberty and justice, we need to understand and promote life together on this planet that we have been given as home. We need understand life's terms for us and we need to align with life on life's terms.
</p>

<p>
  For life, we need to think about soil quality, roots, nutrients, water, air and sunshine.
</p>

<p>
  We need to think about love, peace, cooperation, health, climate, life, truth, nature and alignment with reality.
</p>

<p>
  The planet's conditions and natural processes are what generate quality of life for all. We need to participate in life again in accordance with nature.
</p>

<p>
  This is our primary interest as humans.<br>
  It is our humane worth and our human nature.
</p>

<p>
  When we see each other as humans and when we care about each other and our common well-being, we also see the needs that we have in common with all life.
</p>

<p>
  The prevailing situation and the opportunity we have, as we always have, is to participate in the ecosystem of this planet and be a humanity which is beneficial for life. That is the need that we need to fulfill here.
</p>

<p>
  To nurture this life in which we exist, that is our purpose here on earth.
</p>

<p>
  Continuous renewal takes place within the body as the human form is maintained.
</p>

<p>
  In this process, certain substances need to be available in the environment.
</p>

<p>
  Oxygen is supplied with breathing.<br>
  Water is mainly supplied with the liquid content of the diet and when we drink. Certain vital wavelengths of electromagnetic waves radiate from the sun.
</p>

<p>
  Certain substances have been shown to be necessary and intended to be supplied to the body, so that the body can meet the needs of all organs.
</p>

<p>
  When something is eaten, certain processes take place to sort out the nutrition. During digestion, the food is transformed.
</p>

<p>
  The components in the material that we eat are broken down. Carbohydrates are broken down into glucose and fructose, fats and oils are broken down into fatty acids and proteins are broken down into amino acids.
</p>

<p>
  For example, when we eat a fruit, a certain amount of the material will be absorbed into the body, for example sugars, water, amino acids, fatty acids, vitamins and flavonoids.
</p>

<p>
  Certain foods contain the vital components required for our well-being and an optimally sustainable life experience.
</p>

<p>
  Some foods contain that which is beneficial to the body and the organisms that make up the human body's constitution.
</p>

<p>
  Only these are healthy, healing and intended for humans to eat.<br>
  Only these may be truly seen as life-giving foods.
</p>

<p>
  The employment we have needs to promote the well-being we need to experience.
</p>

<p>
  The highest well-being we can experience is when the environment where we live naturally and specifically contains that which is needed for us to have the opportunity to feel well.
</p>

<p>
  So that the food that is available to eat, the water that is available to drink and the air that is available to breathe actually promotes the well-being that the human body is naturally drawn to.
</p>

<p>
  What is needed in the body for well-being is mainly the material that we find in fruits and seed-bearing plants.
</p>

<p>
  Only these contain all the vitamins, fats, bioavailable protein, enzymes, prebiotics, probiotics, fiber, phenolic acids, tannins, isoflavones, lignans, lutein, salicylates, phytosterols, terpenes, glucosinolates, sulphides, polyphenols, anthocyanidins, carotenoids, isothiocyanates other flavonoids and the tens of thousands of vital phytochemicals that fulfill our nutritional needs.
</p>

<p>
  It is necessary to supply the body with this in order for continuous well-being to be possible, which applies every human.
</p>

<p>
  If we look at our genetics, about 99.81% are exactly the same for all humans.<br>
  Our fundamental needs are exactly the same.
</p>

<p>
  Faith is living with the full conviction that reality presents an existence which is beneficial to our existence and in which we are all invited to live.<br>
  As these circumstances prevail for us humans, it is also to the advantage of all other life, the entire biosphere on this planet.
</p>

<p>
  The biosphere, the atmosphere, the hydrosphere and the lithosphere interact in favor of our existence.
</p>

<p>
  Faith is to expect that this is determined to come true. That this reality is a living, conscious and intelligent entity which we are all invited to unite with.
</p>

<p>
  We have been given a free choice to choose it.
</p>

<p>
  Please choose reality now.
</p>

<p>
  Faith is about a complete conviction accompanied with the understanding that it is the only possible prevailing condition on this planet that makes sense for humanity and life here.
</p>

<p>
  That the purpose really is lasting well-being and happiness.
</p>

<p>
  To have faith is to have such a focus, such an expectation and such a direction. That one's activities are beneficial for the best, justice, thus such an existence.<br>
  What makes such an existence possible are such things as intelligence, love, and the realization that reality is consciously structured and ordered with a loving consciousness.
</p>

<p>
  What we can do immediately is to gratefully accept the prevailing conditions in reality. We can also correct the affinity we have with reality so that it agrees with how reality actually exists. This happens as we allow it to happen.
</p>

<p>
  Faith entails being able to live with a certain expectation that everything will be realized according to a process that is favorable to the existence of all.  Provided that we choose to accept the invitation to participate in and belong in reality. This is really worthy of reverence and gratitude.
</p>

<p>
  More important than explanations and descriptions of how this happens, is to be in what is intended, to refresh this natural human expectancy to experience reality as such.
</p>

<p>
  Whatever it is that is for the good of all and worth investing faith in expecting, we put our faith in.<br>
  We assign our faith to that which is worthy of faith.
</p>

<p>
  A united humanity in love, life, natural peace and happiness, forever.
</p>

<p>
  Our common belonging is to participate in life as a humanity.
</p>

<p>
  When we willingly seek clarity, we desire to see reality just as it really is.
</p>

<p>
  When we want to perceive life, exactly as it is and when we wish to interact in life exactly as it happens, we open ourselves to the full spectrum of meaningful human experience.
</p>

<p>
  When we get inspiration, we need to have prepared for inspired activity.
</p>

<p>
  It is these moments that we constantly feel have real meaning.
</p>

<p>
  Human intelligence is more than just intellect. The intelligence is our union with reality and the intellect is only one of our mental faculties.
</p>

<p>
  The function of the intellect is to manage the limited amount of information that we have gathered, the part of our thought process which is limited to memory and information.
</p>

<p>
  This is important to know, because all our abilities need to develop in a balanced, coherent manner.
</p>

<p>
  As our ability to perceive life is natural, our ability to interact with reality is natural and compliant.
</p>

<p>
  Intelligence is also about life and human well-being, harmony and love.
</p>

<p>
  The insights and understanding of human well-being need to be present in each human, so that we naturally experience it flourishing through us.
</p>

<p>
  This is something natural to hold onto, how we experience life and how we affect life, which is significant.
</p>

<p>
  This comes with the most obvious and effortless inner experience.
</p>

<p>
  Seeing everything as it actually is comes from the all-natural intelligence within us.
</p>

<p>
  Our intelligence is something very beautiful and part of our human inheritance.
</p>

<p>
  A simple way to see this is that; within you are the conditions for creating a human body based on the food, the impressions and the experiences that you choose.
</p>

<p>
  This is the universal intelligence that exists beyond the thought process.
</p>

<p>
  We enhance these abilities to interact with life and reality beyond the sensory functions, through our intelligence, which is our innate association with reality.
</p>

<p>
  When we live according to the basic conditions of reality and the truth that presupposes life, we also have a natural, loving relationship with existence.
</p>

<p>
  We obviously have an innate potential to relate to everything as humans.<br>
  To truly know and understand reality with love is to embrace that possibility.
</p>

<p>
  To relate to each other is to discover each other through experience.<br>
  By allowing our loving nature, we can relate to life.
</p>

<p>
  To feel and understand reality and life with love, is also to embrace the possibility of relating directly to reality.
</p>

<p>
  To love means to promote love. To love means to promote each other's ability to know ourselves, to know each other, to know life and to know, understand, love and relate to reality. In relation to the Universe there is a consciousness, similar to what you are in relation to your body.
</p>

<p>
  Beyond intellect and memory is pure intelligence.
</p>

<p>
  So a direct relationship with reality and everything that is fundamental, eternal and universal is essential.
</p>

<p>
  This is how the combined phenomenon of love, happiness, prosperity, creativity and inspiration is the natural flow in which we exist.
</p>

<p>
  It is when we have the ability to live according to our nature that we can truly be conscious in the human experience.
</p>

<p>
  Be present in the intelligence that invites us to have access to the full experience. It is an open possibility and we then do what is best for all, which is consequently also what is best for ourselves, because we exist in interaction with everything.
</p>

<p>
  The human body is the most sophisticated form that you have access to in all of reality. You need to understand how the body and the mind works, because when we understand how we work, we know how to do the best we can with ourselves, for each other.
</p>

<p>
  It is every human's right and necessity to be pleasant to be near to, so that we naturally radiate well-being in every way. We can live with awareness and active compassion.
</p>

<p>
  When we want to truly feel life, we need to be attentive to life, as well as take in and keep the gift of life with gratitude.
</p>

<p>
  To live humanely makes life good for everyone.
</p>

<p>
  Self-realize means to realize that about yourself which already is and always has been.<br>
  It's about seeing the most obvious.<br>
  The insight into being human and what that means.<br>
  What opportunities it entails and what needs it involves.
</p>

<p>
  You have a human body, you need to understand how it works and how to take the best care of it.
</p>

<p>
  With accepting one's humanity comes being gradually and completely filled with life, love and happiness.<br>
  To blossom into joy, just through the naturalness that comes with having a healthy body and a humane mind.
</p>

<p>
  What we call the body and what we call the mind is something that accumulates over time through what we eat and what we experience.
</p>

<p>
  What we accumulate can be ours to manage, so we are thus something more, that which has the body and the mind.
</p>

<p>
  You have a body and you have a mind through which you interact with the surroundings.<br>
  Nurture what has been given to you.
</p>

<p>
  We can align ourselves with the rhythms of life and live in harmony with the process of life, our natural way of being.<br>
  It is the most healthy way available to us and that is the only lifestyle which guarantees happiness and liberation.
</p>

<p>
  When we have sufficient reason, we can sense everything.<br>
  Then we gratefully see that everything is miraculous.<br>
  With such devotion, everything that comes our way is nourishing and good.
</p>

<p>
  We receive life with joy and gratitude.
</p>

<p>
  If anything other than what you desire enters your mind, sit down and focus in the correct direction. Think about our needs and how to fulfill them in a dignified manner. Clean water, fresh air, proper nutrition, sunshine, rest, exercise, togetherness. Transcend desire and fulfill your natural needs.
</p>

<p>
  Use your ability for something beneficial, so that you enjoy a clear conscience, because every human being has this privilege.
</p>

<p>
  When we live consciously, attentively and with presence, we do things in a wakeful way.
</p>

<p>
  In every waking moment how much we can do consciously matters. To which extent we consciously handle the body, the mind, the thoughts, our emotions and our choices is important.
</p>

<p>
  When we choose to be human, we need attention and awareness to live life to the fullest, which is also the most basic and natural way to be as humans.
</p>

<p>
  That is how we are born.
</p>

<p>
  Every moment holds the opportunity to consciously experience life.<br>
  Whichever way we live, our need is to live through conscious choice.
</p>

<p>
  We are at our best when we live truthfully.<br>
  We need to act as elegantly and humanely as possible.
</p>

<p>
  We need to feel involved in life.
</p>

<p>
  We need fresh air, clean water, fresh and nutritious food, sunshine, loving communities, healthy exercise and rest.
</p>

<p>
  We need clarity, time each day, to see everything as it is.<br>
  So that we can see the possibilities we have here on the planet, which we are a part of together all other species.
</p>

<p>
  We need to work together for the best that we can possibly do with life here.
</p>

<p>
  It is our responsibility and our human right to live into the highest possibility we have on this planet. Love is therefore our chosen direction.
</p>

<p>
  When we want to improve, our direction needs to be a worthy ideal.
</p>

<p>
  The only sustainably favorable direction is such that it promotes well-being and life for all, which also brings blessings for all, quite naturally.
</p>

<p>
  All activity then brings welfare, by widening the scope to include all of life and all of humanity.
</p>

<p>
  The humane intention is to benefit everyone according to the best of our ability.
</p>

<p>
  All this happens for us through the way of truth, when we choose to live in accordance with nature here.
</p>

<p>
  A deepened engagement with the source of life means seeking to reach all the way into reality.
</p>

<p>
  We can reach into the source of life through the willingness to understand to the details of life.
</p>

<p>
  When we focus attention to life and take this focus deeper, the very source of creation opens up before us.
</p>

<p>
  When our conscious attention is humane and focused in accordance with truth, life embraces us.
</p>

<p>
  What we have available to act with in this Universe is the body and the mind and we can refine these to contribute to everything and everyone in life on this planet.
</p>

<p>
  It is the very nature of our interactions that brings results in our activities, so insight and direction are necessary and activities in that direction are also necessary.
</p>

<p>
  All activity needs to be in harmony with reality the flow, rhythms and cycles of the natural process.
</p>

<p>
  This planet has the natural conditions to produce everything that is favorable to life, and we humans are living beings.
</p>

<p>
  When our activities are in harmonious interaction with our surroundings, blessings also flow back to us and our needs are fulfilled optimally.
</p>

<p>
  Practicing the ability to allow is nourishing for our ability to adapt and our natural intuition.
</p>

<p>
  Actions occur in the situations in which they are performed, while permissiveness entails a whole spectrum of possibilities and variety, because we allow something more to include us.
</p>

<p>
  In what way do we influence everything and what is the  response to our activity?
</p>

<p>
  It is absolutely necessary to understand that lasting prosperity comes through love together with health and activity combined with clarity.
</p>

<p>
  Certain activities have auspicious consequences and by understanding the fundamental dynamics of how we produce life-giving and auspicious consequences, we have a mind for life and humanity.
</p>

<p>
  Blessing is when all available opportunities bring beneficial consequences, so that we feel belonging.
</p>

<p>
  We ask that everyone are blessed.
</p>

<p>
  When we function through our humanity, focus our attention to our intuition and want to bring about such consequences as are for the good of all, all necessary activity flows through us.
</p>

<p>
  Life is as it should be and we simply adapt to life for prosperity.
</p>

<p>
  Living through our humanity means that we live to enter into life in ways that are for the best, so that our living unites in intelligence, love and presence.
</p>

<p>
  By allowing, life happens with ease and our existence here proves meaningful.
</p>

<p>
  Proper direction along with intuitive activity and the ease of allowing is necessary.
</p>

<p>
  We willingly do all that is possible while seeking the best opportunities, with a sense of elegance to allow all the natural processes to happen at their natural pace.
</p>

<p>
  Sow a seed, nurture life, appreciate the blessing and let it grow.
</p>

<p>
  We are always available to real love.
</p>

<p>
  When we live liberated and are simply human, love washes over us.
</p>

<p>
  Seeing this gift is in itself a gift worth gratitude.
</p>

<p>
  We are all in the care of reality and we are constantly invited to refine our ability to draw strength from the nurturing love around us.
</p>

<p>
  We are available to real love.
</p>

<p>
  We choose to be like that with each other, so that we experience everything together, to promote life and give power to the flow that comes through love, so that everyone are a part of it and together radiate gratitude.
</p>

<p>
  See the wonderfully beautiful sky, the radiant sun, the starry sky and the moon, nature, beautiful flowers, all life, tasty fruits and nutritious plants.
</p>

<p>
  This planet is bursting with life and love, that's how it is made. The air we breathe and the life-giving water, all that is available to see, hear, feel and experience in the wonders of life here on Earth. When we allow ourselves to see the miracle, we also see that everything is so completely loving.
</p>

<p>
  Look at a place where nature has been at peace for a long time. There is a visible harmonious interplay in such areas. Look at a flower that has blossomed and see the active love of our common creator. Love is active in every human being, just like in every flower.
</p>

<p>
  When sufficient attention is shown to something living, we see that every life form has been made with enormously careful precision.
</p>

<p>
  With a certain openness, we allow the experience to reside within us. When experiences come, welcome them and allow what comes to you to be experienced. See it, feel it and experience it. Let the muscles soften and let it happen. Invite healthy experiences to come and be with you while allowing what you're already feeling.
</p>

<p>
  What are humanity's foremost needs?<br>
  Recognize it and remember this.
</p>

<p>
  Properly nutritious and sun-ripened foods that grow freely available, clean water, fresh air, sunshine, refreshing exercise, beautiful landscapes, peaceful togetherness in loving relationships and safe resting places.<br>
  The fundamentals for life are already as they should be and we choose to adapt to be included in life.<br>
</p>

<p>
  A multitude of blessings radiate around every human who unifies with life.<br>
  It is healthy for us humans to invest ourselves in what is needed.
</p>

<p>
  Miracles happen.
</p>

<p>
  Miracles are events that occur beyond your current comprehension.<br>
  That means, events that are beyond what you have so far defined as possible.
</p>

<p>
  The impact we have in existence is what matters for the quality of our life.<br>
  Success can only ever happen in alignment with common prosperity.
</p>

<p>
  The aesthetics of life and the joy of common progress to a wonderful existence on the planet, are meaningful values to live for.
</p>

<p>
  When life touches us, we see that reality has a greater value than illusion.<br>
  We choose to be liberated into and reach into what has real value.
</p>

<p>
  What we live for needs to be the source of our health, our liberation and our engagement with life.<br>
  When we reach for something, it needs to progressively lead us to health, clarity, loving relationships, ease, natural wealth, and pleasurable emotions.
</p>

<p>
  Life happens here.
</p>

<p>
  When we connect to the life within us, it is an attraction that radiates vitality, clarity and vibrant energy.<br>
  By each step and in every breath, we have the potential to come closer to an enlightened wakefulness and conscious existence.
</p>

<p>
  We recognize the value of life and feel the blessing in what we humans really are and our unified experience is beautiful, for everyone.<br>
  This is the possibility that we have constantly have.
</p>

<p>
  Our experiences are significant when our intelligence, our sensitivity and the other abilities in our being are in a harmonious and dynamic interaction.
</p>

<p>
  Children need a stable, pleasant, loving, safe, orderly and happy atmosphere to grow.<br>
  Humanity's responsibility is to keep our children in a loving and meaningful, living and caring incubation.<br>
  We expect to grow up to be genuinely humane.
</p>

<p>
  As our children grow in this, all that is available is good for humanity.<br>
  We see that life is a joyful and liberating experience to live into.
</p>

<p>
  When the air quality is good, the quality of the sky is good.<br>
  When the quality of the sky is good, the spectrum of incoming sunlight is beneficial for life.<br>
  When nature's and the planet's conditions for living are favorable, then our existence here is meaningful.
</p>

<p>
  This planet becomes our home when we accept and exist according to the terms here.
</p>

<p>
  To mature means that wherever you are, you have retained insight into truth, so a safe living is assured.<br>
  We therefore chose reality as our best friend and guide to live into what is truly possible.
</p>

<p>
  Liberation is initiated through truth. With the truth, we are directed to life and this liberating process happens naturally for us.
</p>

<p>
  Truth is vital because it will always work. When we want to live according to the conditions of reality, reality also uplifts and support us.
</p>

<p>
  Interest in truth means letting the truth be the authority and taking an interest in what is real.<br>
  When you want knowledge, you have opened yourself to the blessing of wisdom, through your willingness to learn.
</p>

<p>
  Living awake and aware means being present beyond habits. The great and beautiful thing about being human is that we have been gifted with the ability to be consciously present.
</p>

<p>
  Life is greater than what we are.<br>
  We exist as part of life on this planet and in reality we are part of this Universe.
</p>

<p>
  Enlightenment is about realizing one's own existence and understanding the structure of reality.<br>
  Enlightenment is also to see that while the mind has a representation of reality, reality is more than the mind concept representing it.<br>
  Enlightenment is also about realizing that the artificial world and it's conventions are meaningless illusions.<br>
  Insight is seeing what is completely obvious and which has always been.<br>
  To be in the human consciousness, the human unity that we call humanity, simply as a human being.
</p>

<p>
  Realization is being present in unison with reality and accepting the purpose as ultimate goal.
</p>

<p>
  Scientific endeavor is using knowledge, theory, observations, experiments and evidence.
</p>

<p>
  It has been scientifically proven that everything is one and the same energy. The different viewpoints that describe reality all aim to describe the same reality.
</p>

<p>
  Only the viewpoints which are congruent with reality are useful and worth sharing.
</p>

<p>
  Everyone who has a free will, has the free opportunity to choose life, blessings, and a way of life that brings abundant consequences.<br>
  This longing brings with it humanity, love, intelligence and sets this process in the only sustainable direction.
</p>

<p>
  This possibility is realized when we make the fundamental shift in understanding how life works and the possibility that we have been introduced to. Reaching the dignified existence that we since birth need here on earth.
</p>

<p>
  We can perceive the entire cosmos with the proper preparations.
</p>

<p>
  We have the inherent ability to do this, it is according to our nature. To set such a direction is to choose the path that guarantees happiness and prosperity.
</p>

<p>
  Humanity includes potential, where cooperation for a valuable ideal is the common direction.
</p>

<p>
  We can live according to the conditions that are given and together be realized according to what has was written thousands of years ago as the original will of the creator.
</p>

<p>
  A life-promoting humanity united in love and truth, with justice, freedom, correct knowledge, cooperation, safe resting places and health, peace and abundance for all. The dignified and meaningful existence that we are meant to be born into.
</p>

<p>
  What is needed to make a dignified human is the same as what is needed to achieve a dignified existence.<br>
  All necessary knowledge is available to everyone now. We have this possibility wide open in every moment.
</p>

<p>
  Any human being who has the will to commit to this can achieve it within our current life span. This is extremely important for us to agree on. This benefits all the billions of humans on the planet. We are several million species in this life that agree on this. Reality has actually had this going on for billions of years and what we are expected to do is to just unify with the process of life.
</p>

<p>
  When enough of us continuously engage in unity with reality, we reach prosperity together. This is the structure of reality, the process of creation, the purpose of life, the longing of humanity and the possibility for each and everyone.
</p>

<p>
  We are all here on the same earth. We have the opportunity to unite in well-being when we see life as unity and community.<br>
  This existence is naturally flourishing. This is constantly happening within and around us, we are already in it and we are invited to participate, as a humanity on this planet.
</p>

<p>
  So the whole process of seeing life as it actually is, means to have the natural, holistic human experience and true integration with existence. This presupposes pure intention by having been liberated from habits into presence.
</p>

<p>
  We need to be able to maintain presence in the actual reality. So that we keep the ability to be truly present in the moment and to experience life as it is really happens in the present moment.
</p>

<p>
  The universe contains galaxies with star systems and planets. Our planet has a biosphere with organisms and natural cycles. Cells that in themselves are organisms make up all life forms here on Earth.<br>
  In this Universe we know this planet to be favorable for life. All who live to harmonize according to the conditions of the planet thrive.<br>
  There is a certain fine-tuned balance here, which is a harmony in a spectacular dynamic complexity.<br>
  Just like that, the human body can be conducive to life and be managed according to the fine-tuned dynamics of reality. Cells in the body that live to harmonize according to the body's conditions thrive. Beings that live to harmonize according to the prevailing conditions always benefit the best possible existence for all.
</p>

<p>
  The energy in the Universe is continuously transformed from one form to another.<br>
  Soil becomes beautiful flowers and tasty fruits.<br>
  These in turn are transformed into such an awesome organism as the human body.<br>
  This continuously transformative life process occurs by the natural dynamics of reality.
</p>

<p>
  The essence of all this is to keep insight into how the nature of reality functions.<br>
  For us humans, it happens through the natural human longing to reach liberation, love, health and lasting happiness.
</p>

<p>
  To feel the nature of reality, human insight is necessary. Because we experience life through the body, we need to cherish the body so that we may experience reality joyfully and with ease.
</p>

<p>
  Each human, all of humanity and the life to which we belong, has the opportunity to promote a lasting prosperous existence for all life forms. Likewise, every human being has the opportunity to promote a lasting healthy existence for every cell in the body.
</p>

<p>
  The best possible life for every cell and beneficial symbiotic organism in your body. That is your living duty, as you are the custodian for the life that is within you.
</p>

<p>
  This brings about the harmonious balance of well-being and happiness.<br>
  What we feel is the collective experience of every cell within our bodies.
</p>

<p>
  We are invited to live in a way that promotes this existence within the reach of all humanity.
  When we allow the one who is supreme in relation to this universe to guide us into this process.
</p>

<p>
  We have the innate ability to experience everything as it actually happens.<br>
  Within these conditions we reach through into eternity, just as we are meant to.
</p>

<p>
  This is about embracing the beauty of truth and opening up to the possibility of belonging to the human unity that still harmonizes with life. Being in united agreement with reality, is to be truly free.
</p>

<p>
  The experience of life happens from within us. When we look at an object, the light that is reflected or radiated from that object enters the eye through the retina and by chemical signals from the vision cells a representation of that object appears as an image in the mind.<br>
  What we perceive is an interpretation in the mind.
</p>

<p>
  In the same way, your self-image is also an interpretation in the mind and by the gift of free choice, we have the ability to correct it, so that it agrees with reality.
</p>

<p>
  You are the potential of your best self. The best version of yourself is what you deserve to be.
</p>

<p>
  When we realize that, we also see the potential we have to improve and the necessity of fostering life within us, for an eternally healthy experience.
</p>

<p>
  Truthful thinking has a lovely effect for that.<br>
  Truth is a catalyst for all our activity, so that everything we participate in is for the benefit of life, for humanity and the conditions on our planet.<br>
  Truth has this lovely effect on the human experience, as it contributes to an enlightened inner biochemical harmony and purposeful outer activity.
</p>

<p>
  This means that the metabolic process in the body and the process that the body is engaged in, is in accordance with truth, the flow of life, the terms of the planet and the nature of reality.
</p>

<p>
  Ask yourself when you are about to eat:<br>
  "What I am about to eat, that will be absorbed into and transformed into my body, is this nourishing and healing for a human being?"<br>
  Similarily, consider your choices:<br>
  "These impressions and experiences that I perceive with my ears, eyes and senses, are they beneficial to life, humanity and myself?"
</p>

<p>
  How does your lifestyle affect this planet and how does it affect you?<br>
  Are you becoming human?
</p>

<p>
  If you need to choose better, do it immediately in this moment, the future is the result of the choices we make. Your current situation is the result of your past choices.<br>
  Your body is the result of what you chose to eat, how you chose to sleep and how you chose to exercise.<br>
  Your feelings are the result of what you chose to do in the past.
</p>

<p>
  You have the choice to improve.<br>
  Please, choose to improve yourself, we all sincerely love you and we all want to see you well.
</p>

<p>
  When we study reality beyond our senses, we see that we exist in a multidimensional ocean of energy.<br>
  It is a similar experience that every cell in our bodies has.
</p>

<p>
  There is also in relation to the Universe someone similar to what you are in relation to your body.
</p>

<p>
  It is vitally important to integrate with reality, to set direction, to align with nature, to participate in life, to be freed and to strengthen the trust and relationship with the consciousness of existence.
</p>

<p>
  That one truly exists and is willing to guide you.
</p>

<p>
  What we see as the creator of reality is essentially the origin of creation, the love which is actively shaping reality. When we look at anything in the natural creation, the highest form of intelligence shines through. When we focus sufficient attention on anything in creation, it is clear that the origin of creation has an intelligence beyond everything else.
</p>

<p>
  The interactions between the sun, the moon and the planet has a certain impact on life. It is evident in the cycles of the seasons, tides and the circadian rhythm. These cycles also affect our organism.<br>
  To understand these events that prevail on the planet, of which we are a part, is to be at one with the planet, nature, the phases of time and the flow of life.
</p>

<p>
  Free will and the nature of human consciousness is such that we may act without taking into account the phases that occur in the natural process.<br>
  It should seem totally obvious, that we are only really free when we understand and limit our free will within the terms of nature.<br>
  From the moment you honor and fulfill our natural needs, health, well-being, ease, liberty and success follows as the guaranteed consequences of such devotion.
</p>

<p>
  It makes sense to understand these phases and to be in life that happens in unison with them. Everything that can be done with ease pays rich dividends, quite naturally according to the natural flow of creation.<br>
  So all activity that bring us closer to this is a profound opportunity, which makes vast blessings possible.
</p>

<p>
  Every step closer to the potential of our humanity is valuable.<br>
  Actual commitment to living your purpose as a human who is unified with reality, is true gratitude for the gift of life.
</p>

<p>
  Direct focus to opportunities and to actively realize a worthy ideal together. Our bodies need to be engaged only in what is best for us. When activity is necessary, the necessary energy is invested. Otherwise, we are in stillness and pure happiness simply by being in life.
</p>

<p>
  Your mind and body follow your instructions when you open up to consciousness.
  The consciousness which in relation to reality is what you are in relation to your mind and body.
</p>

<p>
  How we make the body and the mind function optimally is what we have an interest in spreading.<br>
  Actual exercises, actual wisdom and truthful insights.<br>
  The fundamentals of human health and how to realize our potential need to be integrated into every human being.<br>
  We know that the better a human's understanding of how the body and mind are best used, the better that one affects everything else.
</p>

<p>
  Intelligence and ability also includes compassion, love and care for others.
</p>

<p>
  As we have perceived the potential beyond our previous limitations, we want to reach human excellence. Humanity and the sense of global success are among the most satisfying experiences available to us humans.
</p>

<p>
  There is much beauty on this planet and in existence.<br>
  With attention to reality we are blessed beyond description.
</p>

<p>
  Everything will be fine.
</p>

<p>
  See this cosmos. Today, we have established that the size of the observable area of the Universe is greater than 93 billion light years across.<br>
  The whole Universe is even bigger than that.<br>
  According to today's estimation, the observable part contains trillions of galaxies.
</p>

<p>
  In this vastness, our solar system is exceedingly small.
</p>

<p>
  The ratio of matter to total spacetime is estimated to be only six protons per cubic meter.
</p>

<p>
  That which governs and creates reality has a vast awareness and a certain tendency.<br>
  We call it love, the original will.
</p>

<p>
  Existence is eternal.
</p>

<p>
  That we exist on this planet is by the original, loving will.
</p>

<p>
  There are certain balance conditions and laws, a fine-tuned dynamic that shape reality just as we experience it.
</p>

<p>
  When we observe the diameter of quarks and increase this by 5 orders of magnitude, we are in the size domain of atomic nuclei.<br>
  If we expand the diameter by another 5 orders of magnitude, we find atoms.<br>
  By beginning with quarks and increasing the widthspan by 5 orders of magnitude each step, we find the following levels:
</p>

<ul>
  <li>Atom nuclei</li>
  <li>Atoms</li>
  <li>Organic cells</li>
  <li>Complex life forms</li>
  <li>Moons and planets</li>
  <li>Stars</li>
  <li>Nebulae and star systems</li>
  <li>Galaxies</li>
  <li>Galaxy clusters</li>
  <li>Something beyond the observable Universe</li>
</ul>

<p>
  The ratio between the diameter for each of these levels is 5 orders of magnitude.
</p>

<p>
  The natural framework of reality is constantly present.
</p>

<p>
  We need to belong to life if we want to live.
</p>

<p>
  For this we need a guide, and the best guidance available is from the the sovereign, loving master of the entire reality.
</p>

<p>
  It's your own choice if you really want to succeed in life.
</p>

<p>
  You have the responsibility to be in touch with the consciousness of reality and that your thoughts, feelings and your activity are consistent with humanity, love, truth and life.
</p>

<p>
  The deepest connection with reality happens when we choose to be united with love, the original will which brought everything into existence.<br>
  When we are outdoors and feel the ground under our feet, the sun on our face, the rain or the enveloping darkness of the night, we experience presence in the stillness of the moment as long as we cooperate with the intelligence of nature.
</p>

<p>
  It is the innate intelligence in everything that makes everything function in harmony.
</p>

<p>
  Be present in the flow of life.<br>
  When we attend to being truly present and appreciate whatever we experience daily, our relationship to reality and the dynamics of nature deepens.
</p>

<p>
  The loving intelligence permeates everything while also actively creating and shaping reality.
</p>

<p>
  There are many occasions when we open up to each other.
</p>

<p>
  When we form loving, human and honest relationships with each other, our contact with reality is also strengthened.<br>
  Just as you are part of the fabric of the universe, so are everyone else.<br>
  Everything we can see, hear, feel, smell, taste and in any other way sense or experience is part of everything.
</p>

<p>
  Always choose to walk the path of life together and always choose conscious love for all.
</p>

<p>
  When we seek the humane in life, we are gradually filled with peace.
</p>

<p>
  There are moments in life when we are in true experiences.<br>
  You have such moments, those beautiful, true moments where everything made sense.<br>
  The clarity and peace was surrounding you and you saw something which touched the essence of who we are.<br>
  These moments motivate us to talk about the beauty we want to experience.<br>
  When we recognize and want to realize purposeful possibilities, we are become liberated into that beauty.
</p>

<p>
  We want to see you successful, that you get to see the best in life come true, so that we really get to live life.<br>
  We know that we will make it, because we so deeply want to cherish and benefit everything we need and deeply desire in life.
</p>

<p>
  It is now time to embrace your human power.<br>
  Maintain awareness that your best thoughts, feelings, beliefs, attitudes and expectations are aspects of who you really are.<br>
  We want you to always be what you always really wanted to be and see you achieve everything you ever wanted to achieve.
</p>

<p>
  The original will is always available for each to live united with, it is present in every moment. Each human has the opportunity to strengthen their own will through the highest will.<br>
  We are created according to this will with permission to choose for ourselves.
</p>

<p>
  The best way to fulfill our life experience is by living in accordance with the love in the ever-present flow in all, which is called devotion.<br>
  This means that we devote ourselves to the original purpose and participate in its realization.
</p>

<p>
  We do this as humans.
</p>

<p>
  The driving force of our own will is a thought, which is formed from the information we have collected, processed and rehearsed.<br>
  We hold thoughts as temporary structures in the mind.
</p>

<p>
  The substrate of our thoughts needs to be devoted to life and our wants need to be in harmony with our needs.
</p>

<p>
  Your will becomes relevant only when your needs are fulfilled.<br>
  Needs always have a higher priority than will and our will always needs to be aligned with our needs.
</p>

<p>
  We reach new opportunity through clarity, which comes through devotion to the eternal phenomena love, truth, wisdom and justice.
</p>

<p>
  In prayer, we reconnect to and unify with the one who has the absolute knowledge of everything, and who cherishes our human potential.
</p>

<p>
  Life includes a spectrum of possibilities that all involve wonderful consequences and to enter these, we have our intuition.<br>
  Our intuition reminds us about the fundamental aspects of our human consciousness.<br>
  We need health and clarity so that the gifts we have may function correctly and coherently.
</p>

<p>
  Prayer helps us find life according to our human potential.<br>
  We need to keep our understanding of what it means to be human and to live our life so that we approach the truth as closely as possible.<br>
  To fully use our physical body and our mental abilities in contribution to common prosperity.
</p>

<p>
  Truly living is to live with ease.<br>
  We function at our best when we live happily and enjoy being here.
</p>

<p>
  Health, how everything comes together as a whole, is the source of life quality.
</p>

<p>
  The refinement of our awareness is the foundation of our ability, which is what we can achieve and how we may improve with what we have available.<br>
  There are certain things that matter to our life quality and all of these are related to the foundational aspects in our human nature.
</p>

<p>
  When you live in truth, you thrive according to the conditions of existence and the power through benefit every natural process in your body.<br>
  Consider as an example how important it is to have a meaningful pregnancy when a new human being is being prepared for life.<br>
  Breast milk is naturally formulated specifically for the baby.<br>
  It is even so precise that in the case of twins with opposite sexes, the milk is also formulated specifically for each child.
</p>

<p>
  When we move to experience life with wellness, every moment, through every day, everything is liberating.
</p>

<p>
  The intellect is a tool we use to compare and categorize forms and concepts. This intellectual process needs to be part of the total intelligence that we have, rather than the main driver.
</p>

<p>
  Use your abilities to what they are meant for.<br>
  Strengthen the innate way to live with balanced, optimal functioning and ease. Health is the optimal interaction between the systems within the body and the mutual benefit with the life outside the body.
</p>

<p>
  The only way we can experience anything in existence is through the self.<br>
  Thus, the quality of our selves underpins the quality of our experience.
</p>

<p>
  Our perception comes through our sensory abilities. The body is one part of the experience, emotions another, thoughts another, and consciousness is the most subtle aspect.
</p>

<p>
  Having cognitive consonance is a fundamental necessity, so the structure we have in our brain agrees with reality.<br>
  We get this through meditation and a clear conscience.<br>
  We cleanse our conscience by improving our relations with others, humanity, with life and with reality.
</p>

<p>
  There needs to be a balanced harmony within us.<br>
  When we sit in silence, focusing on presence and awareness, we get a measure of our basic mood and happiness.
</p>

<p>
  There needs to be balance and truth in our speech.<br>
  Our creative expression and speech needs to promote harmony.
</p>

<p>
  When you consciously choose to be human, included in everything and when your experience is such, then you have experienced truth.<br>
  If you look at a plant, an animal, a mountain, a human, the sky, or anything in nature, you are blessed when you can do it lovingly.<br>
  We gain the true life by improving our relationship with everything.
</p>

<p>
  We humans have a natural aptitude to deal with the environment.
</p>

<p>
  You deserve your thoughts and feelings to be good for you in a way that is favorable to others.<br>
  Every person has the responsibility to cherish our opportunities.<br>
  Take the opportunity, so that your thoughts and emotions are pleasant.
</p>

<p>
  Living to realize possibilities is a healthy focus.<br>
  We see the best opportunities and reach them most easily when we live with well-being.<br>
  Therefore we focus on the source of peace, happiness, love and health, which brings prosperity just like fertile soil provides abundant vegetation.<br>
  These are prerequisites for sound thinking and humane activity.
</p>

<p>
  When we have well-being according to our own nature, we naturally promote thriving as a happiness-based humanity.<br>
  To simply be in and to benefit life as it is, with well-being.<br>
  Like children, who have our humanity retained, we know how to do it, happy according to our own nature.
</p>

<p>
  When we long to retain happiness, it means that we need to promote happiness. We promote happiness by choosing things that have favorable consequences. Even if it may seem challenging, the consequences accumulate and generate lasting health, well-being, love and happiness over time.
</p>

<p>
  Every possibility needs to be handled in a sensible perspective.<br>
  We have the ability to think freely and we need to see that as a blessing for humanity. That we have the ability to think correctly with a focus on welfare and the best for everyone.<br>
  Our thoughts need to be kind, intelligent and inspired to be great possibilities.<br>
  It is within these boundaries that our freedom truly shines through.
</p>

<p>
  Beyond sustainability, we have prosperity.<br>
</p>

<p>
  When we have well-being, we can enjoy our thoughts.<br>
  When we feel well, it is liberating and beneficial and our conversations are about how we can thrive, how we can succeed and how to promote life.
</p>

<p>
  As we unify with reality with a shared, collaborative perspective, we advance the fundamental conditions for our existence.<br>
  Clean water, fresh air and freely available, healthy, nutrituoys and sun-ripened food.<br>
  Beautiful landscapes, fertile soils and a humanity that supports life.<br>
  These are completely open possibilities.
</p>

<p>
  Being human means that we have a unique consciousness. We can eat consciously, we can fulfill our needs consciously, we can live consciously. Every simple thing like eating and having sex becomes wonderful because we can do it consciously, with presence.<br>
  With conscious presence for how you conduct yourself in life, how you think, how you feel, how you carry out activity and how you eat, everything you do can bring you to our human potential.
</p>

<p>
  When we have a certain clarity of conscious presence, we also have access to our compassion. Our compassion is beyond the physical and is also what allows us to live together. The thought process involves us acting on the information that has been stored in the mind. When our compassion is active, the best comes naturally to us, because we are in harmony with what is common to all. An intelligence beyond our own embraces us and everything aligns for our benefit.
</p>

<p>
  We have the innate ability to calm what is happening in our thoughts and emotions, just as we can relax the muscles the body.
</p>

<p>
  See the sunrise and the sunset.<br>
  Look at the moon and the starry sky.<br>
  Look at the flowers when they have bloomed and feel the scents.<br>
  Watch the fog settle over a lake.<br>
  See another human.
</p>

<p>
  Appreciate the beauty in nature.<br>
  Nurture presence with life, with people, animals, plants and all the wonders in the natural reality.<br>
  We can easily be present and experience life.
</p>

<p>
  This starts with us improving the fundamental processes that already exist in nature.<br>
  Atmosphere, hydrosphere, litosphere.<br>
  Air quality, water quality, soil quality.<br>
  The food we eat, the water we drink, the air we breathe and the planet we walk on, the body as the seat of our experience, the humanity and life which we have been given completely freely.<br>
  What we need is for it all to function smoothly, we need basic well-being for all.
</p>

<p>
  When we eat, speak, walk, sit, hug or do anything else, we can do it consciously, with presence.<br>
</p>

<p>
  We constantly have the opportunity to evaluate how we succeed as humans. When we do that, we get the opportunity to correct our way of life.<br>
  Am I becoming human? Loving, healthy, valuable, prosperous, aware, present, happy.<br>
  Am I contributing to our natural prerequisites?<br>
  Is my impact on life beneficial?
</p>

<p>
  How well we function within ourselves is what presupposes our quality of life.<br>
  When we honestly and see that we are making progress, it is wonderful for us and wonderful for everyone around us.
  How we are within determines how we experience and influence the environment where we are.
</p>

<p>
  We think about such goals that are beneficial for everyone. Goals where we win even when someone else reaches them before us, because the sooner it happens, the better it is for everyone.<br>
  These are meaningful goals, ones that bring about beneficial consequences.<br>
</p>

<p>
  We all need an environment that is nourishing for us.<br>
  We need to choose the naturally meaningful and sensible way of life.<br>
  What we deeply long for is that our surroundings benefit our humane needs.
</p>

<p>
  Look at the activity of everything within your body. A human being is is continuously being recreated. Promote, nurture and let it happen as easily as possible. Facilitate the life within you.<br>
  Within us are the prerequisites for our perceived quality of life.<br>
  The only way we can have a worthy life in this reality is to live to be human.
</p>

<p>
  We want our emotions to be healthy and harmonious. For this we need to adapt to what food brings these qualities, what kind of activity promotes them and what the environment needs to be like to sustain us.
</p>

<p>
  This is beneficial for all life on earth.<br>
  When we live according to what is favorable to life, it is naturally an easy way of being for all.
</p>

<p>
  The natural conditions for our existence and well-being is our common career.
</p>

<p>
  Suppose you were free to do as you pleased, what would be the sensible thing to do?
</p>

<p>
  As conditions on this planet improve, so does the environment.
</p>

<p>
  When your feelings are wonderful and someone is with you, you can be in that delight together.<br>
  When you feel well, you are also naturally favorable for others.<br>
  When everything is good for you, you naturally do what is required in every moment, to the extent that it is necessary.<br>
  Keeping ourselves well is a necessity, so we may live with ease and elegance.
</p>

<p>
  Reality is inclusive.<br>
  When we welcome love, we welcome life.
</p>

<p>
  Everything happens simultaneously and everything worth understanding about life is directly available within and around us.
</p>

<p>
  Everything happens the way we want it when we allow it to happen naturally.
</p>

<p>
  The body becomes as we want, the mind becomes as want it, our relationships become as want them and life becomes as want it.
</p>

<p>
  Everything happens as we want when we allow it to happen naturally.
</p>

<p>
  The planet that we are together, the air that we breathe, the water that we drink, the food that we eat, the sky and everything that makes us happy, these elements form the basis of life here on earth.
</p>

<p>
  When we let ourselves unify with reality, health comes within us.
  Through health, our sense of well-being and stability improves.
</p>

<p>
  Blessings come to us when we live life as it is meant to be lived.
</p>

<p>
  We always have this option available, to live life as we are meant to.
</p>

<p>
  The planet produces an abundance of nutritious food for us already.
</p>

<p>
  Everything that is vital to life happens here, it happens continuously and it is happening in this very moment.
</p>

<p>
  When we have the will to live happily and humanly, we need to improve ourselves.<br>
  This is a reminder of what life really is and living truthfully means living to live life as it is.
</p>

<p>
  Living in accordance with reality is the safest way to be and it is the best way to live.<br>
  The only way to truly live is to do so on the terms of reality, on the terms of life, and on the terms of truth.
</p>

<p>
  So in accordance with what has been the good news of humanity for thousands of years, let it be said again.<br>
  Correct your way of life.<br>
  Come back to life.
</p>

<p>
  Choose reality.
</p>