:root {
    --base: hsl(115, 57%, 60%);
    --accent: #59e;
    --distinguished: #016;
    --carbohydrates: #7bff7b;
    --fat: #7b7bff;
    --protein: #d07bff;
    --fiber: #ffb97b;
    --3d-shadow: 0 1px .5px hsl(0, 0%, 95%),
                 0 2px .5px hsl(0, 0%, 90%),
                 0 3px .5px hsl(0, 0%, 85%),
                 0 4px .5px hsl(0, 0%, 80%),
                 0 5px .5px hsl(0, 0%, 75%),
                 0 6px .5px hsl(0, 0%, 70%),
                 0 7px 1px rgba(0, 0, 0, .2),
                 0 0 10px rgba(0, 0, 0, .2),
                 0 -1px 1px rgba(77, 77, 255, .2),
                 0 5px 5px rgba(77, 77, 255, .1),
                 0 5px 5px rgba(77, 77, 255, .1),
                 0 5px 5px rgba(77, 77, 255, .1);
    --3d-shadow-base: 0 1px 0 hsl(115, 57%, 52%),
                      0 2px 0 hsl(115, 57%, 44%),
                      0 3px 0 hsl(115, 57%, 36%),
                      0 4px 0 hsl(115, 57%, 28%),
                      0 5px 0 hsl(115, 57%, 20%),
                      0 6px 1px rgba(0, 0, 0, .3),
                      0 0 5px rgba(0, 0, 0, .1),
                      0 5px 5px hsla(115, 57%, 60%, .2),
                      0 10px 10px hsla(115, 57%, 60%, .5),
                      0 0px 10px hsla(115, 57%, 80%, .2),
                      3px 9px 0px rgba(0, 0, 0, .1);
    --3d-shadow-inset: inset 0 1px .5px hsl(0, 0%, 95%),
                       inset 0 2px .5px hsl(0, 0%, 90%),
                       inset 0 3px .5px hsl(0, 0%, 85%),
                       inset 0 4px .5px hsl(0, 0%, 80%),
                       inset 0 5px .5px hsl(0, 0%, 75%),
                       inset 0 6px .5px hsl(0, 0%, 70%),
                       inset 0 7px 1px rgba(0, 0, 0, .2),
                       inset 0 0 10px rgba(0, 0, 0, .2),
                       inset 0 -1px 1px rgba(77, 77, 255, .2),
                       inset 0 5px 5px rgba(77, 77, 255, .1),
                       inset 0 5px 5px rgba(77, 77, 255, .1),
                       inset 0 5px 5px rgba(77, 77, 255, .1);
}

@font-face {
    font-family: 'UniSansThin';
    src: url('UniSansThinCAPS.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratExtraLight';
    src: url('MontserratExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratLight';
    src: url('MontserratLight.ttf') format('truetype');
}

body { 
    background: white;
    font-family: 'MontserratLight', sans-serif;
    font-size: 21px;
    margin: 0;
    color: #555;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

header { 
    font-family: 'MontserratLight', sans-serif;
    background-color: var(--base);
    width: 100%;
    margin-bottom: 10px;
    box-shadow: var(--3d-shadow-base)
}

a {
    color: var(--accent);
}

main, footer {
    padding: 20px;
    max-width: 740px;
    margin: 0 auto;
}

main {
    text-align: left;
}

footer {
    text-align: center;
    font-size: 60%;
    color: var(--base);
}

p {
    width:100%;
    margin:.5em 0;
}

form {
    width: 100%;
}

input {
    padding: 10px;
}

h1, h2, h3, h4, h5 {
    font-family: 'UniSansThin';
    color: var(--distinguished);
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
}

h3, h4, h5 {
    font-size: 200%;
}

.wrapper h2:first-child {
    margin: 5px auto 15px;
}

.wrapper h2 {
    margin: 30px auto 10px;
}

img {
    max-width: 100%;
}

nav {
    text-align: center;
    padding: 0;
    margin: 0;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 6px 0px 8px;
    padding: 8px 6px 10px;
    width: 160px;
    max-width: 29%;
    transition: all .3s;
}

nav a:hover {
    color: var(--base);
    background-color: white;
    border-radius: 4px;
    transition: all .7s !important;
}

table {
    border: 1px solid var(--distinguished);
    border-radius: 10px;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}

thead, tfoot {
    background: var(--distinguished);
    font-weight: 700;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

tr:nth-of-type(even) {
    background: #f2f2f2;
}

th, td {
    padding: 5px 8px;
}

.sticky-top {
    position: sticky;
    top: 0;
}

blockquote {
    font-size: 90%;
    background: #f0f0ff;
    border-radius: 20px;
    box-shadow: var(--3d-shadow);
    max-width: 1100px;
    margin: 1.5em 0;
    padding: 1em;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: var(--base);
    content: "\201D";
    text-shadow: var(--3d-shadow-base);
    font-size: 6em;
    line-height: .0;
    margin-left: -.4em;
    vertical-align: -.4em;
}

ul {
    padding-left: .9em;
}

ul.autoselect-list {
    list-style: none;
    text-align: left;
    position: absolute;
    background-color: white;
    width: calc(100% + 110px);
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #d9dde3;
    max-height: 50vh;
    overflow-y: scroll;
    z-index: 99;
}

li.autocomplete-listitem:hover {
    color: black;
    background-color: #f2f7fd;
    cursor: pointer;
}

.coaching-form input[type="range"] {
    width: 80%;
    margin: 10px 12% -15px 9%;
    height: 20px;
}

.coaching-label, .coaching-range {
    width: 100%;
}

.coaching-range {
    direction: rtl
}

.coaching-label {
    display: block;
    margin-top: 20px;
}

.coaching-label a {
    font-size: 16px;
}

.coaching-field-description {
    font-size: 16px;
    font-style: italic;
}

.coaching-form .flex p {
    width: 20%;
    text-align: center;
    font-size: 17px;
}

.aramaic {
    font-size: 135%;
    font-family: "Times New Roman";
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    box-shadow: var(--3d-shadow-base);
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom: none;
    border-top: none;
    background-color: var(--base);
    min-width: 110px;
    white-space: nowrap;
    position: absolute;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    margin: 5px;
}

#suggestion {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"], .swal-button {
    font-family: 'MontserratExtraLight';
    background-color: white;
    color: #777;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 24px;
    margin: 20px 0 0 0;
    cursor: pointer;
    box-shadow: var(--3d-shadow);
    height: 60px;
    width: min-content;
}

input {
    border-radius: 5px;
    border: 1px solid #aaa;
}

input[type="submit"]:disabled {
    cursor: default;
    opacity: .3;
}

.heading-button {
    position: relative;
    top: 55px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-2, .flex-8 {
    width: 0;
}

.flex-2 {
    flex-grow: 1;
}

.flex-8 {
    flex-grow: 2;
}

.xx-large {
    font-size: 40px;
}

.large {
    font-size: 30px;
}

.medium {
    font-size: 22px;
}

.small {
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

@media (max-width: 620px) {
    body {
        font-size: 13px;
    }

    .xx-large {
        font-size: 26px;
    }

    .large {
        font-size: 22px;
    }

    .medium {
        font-size: 16px;
    }

    .small {
        font-size: 10px;
    }
}

#show-debug, .debug_dump {
    min-height: 30px;
}

.debug_dump {
    padding: 5px 0;
    background: rgb(240, 214, 195);
    transition: all .3s linear;
    position: fixed;
    bottom: -50%;
    left: 32px;
    width: 99%;
}

#show-debug:hover .debug_dump, .debug_dump:hover {
    bottom: 0px;
}

#show-debug {
    background: rgb(240, 214, 195);
    padding: 0 10px 10px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#show-debug {
    user-select: none;
}
