<header id="header">
  <nav>
    <%= link_to "Reminders", root_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Coaching", coaching_path %>
    <%= link_to "Nutrition", nutrition_path %>
  </nav>
</header>